@model Ans_1.Models.ViewModels.StudentVM

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row mb-2">
        <div class="col-6">
            <h3>IsDb-BISEW Student Informations</h3>
            @Html.HiddenFor(x => x.StudentId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row mb-2 mt-3">
                @Html.LabelFor(x => x.StudentName, htmlAttributes: new { @class = "control-label col-4" })
                <div class="col-5">
                    @Html.EditorFor(x => x.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.StudentName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.BirthDate, htmlAttributes: new { @class = "control-label col-4" })
                <div class="col-5">
                    @Html.EditorFor(x => x.BirthDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                    @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.Age, htmlAttributes: new { @class = "control-label col-4" })
                <div class="col-5">
                    @Html.EditorFor(x => x.Age, new { htmlAttributes = new { @class = "form-control", type = "text", inputmode = "numeric" } })
                    @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.PicturePath, htmlAttributes: new { @class = "control-label col-4" })
                <div class="col-5">
                    @Html.TextBoxFor(x => x.PicturePath, new { @class = "form-control", Type = "file" })
                    <img src="@Model.Picture" width="32" height="32" />
                    @Html.HiddenFor(x => x.Picture)
                    @Html.ValidationMessageFor(x => x.PicturePath, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.StudentStatus, htmlAttributes: new { @class = "control-label col-4" })
                <div class="col-5">
                    <div class="checkbox">
                        @Html.EditorFor(x => x.StudentStatus) Withdrawn
                        @Html.ValidationMessageFor(x => x.StudentStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-between mb-1">
                <h3>failed Course</h3>
                <a href="#" id="btnPlus" class="btn btn-outline-warning btn-sm">Add</a>
            </div>
            <div id="CourseContainer">
                @foreach (var item in Model.Enrolls)
                {
                    @Html.Action("AddNewCourse", "Students", new { id = item })
                }
            </div>

        </div>

        <div class="d-flex justify-content-start offset-2">
            <input type="submit" value="Update" class="btn btn-outline-success" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
